# press a to add new row above currrent row
#### press ctrl+enter to execute the current line without adding new line
#### press shift+enter to execute the current line and add new line
#### presss dd(double d) to delete current row 
#### presss a to add new row above current row
#### presss b to add new row below current row

In [1]:
print("Data Analytics")

Data Analytics

In [2]:
print("Hellow World")

Hellow World

#### This is a Heading
#### this is for multiline comment

In [3]:
import pandas as pd

In [182]:
insurance_data = pd.read_csv("D:/Python Materials/11-pandas-in-Jupyter-notebook/FL_insurance_sample.csv",nrows = 50)

In [5]:
type(insurance_data)

pandas.core.frame.DataFrame

In [6]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list are not
        allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : boolean, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [7]:
my_dataframe = pd.DataFrame([[27, "Tarun"], [23, "Rohit"], [15, "Vishal"]], columns=["id", "name"])

In [8]:
my_dataframe

   id    name
0  27   Tarun
1  23   Rohit
2  15  Vishal

In [9]:
my_dataframe_with_index = pd.DataFrame([[27, "Tarun"], [23, "Rohit"], [15, "Vishal"]],index=[10,20,30], columns=["id", "name"])

In [10]:
my_dataframe_with_index

    id    name
10  27   Tarun
20  23   Rohit
30  15  Vishal

In [11]:
insurance_data.shape

(50, 18)

In [12]:
my_series = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [13]:
my_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [14]:
my_series.shape

(10,)

In [15]:
insurance_data.describe()

,policyID,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,point_granularity
count,50.000000,5.000000e+01,5.000000e+01,5.000000e+01,5.000000e+01,4.600000e+01,5.000000e+01,50.000000,50.0000,50.0,50.0,46.000000,46.000000,50.000000
mean,545350.040000,1.302863e+05,8.705930e+05,1.302863e+05,1.355569e+05,9.428798e+05,9.145855e+05,282.240000,1675.1160,0.0,0.0,30.045383,-82.134981,1.820000
std,264147.542622,3.091585e+05,3.263375e+06,3.091585e+05,3.089831e+05,3.395506e+06,3.301384e+06,1995.738179,5964.1663,0.0,0.0,0.063381,0.582505,1.023998
min,105851.000000,0.000000e+00,7.855800e+02,0.000000e+00,0.000000e+00,7.855800e+02,6.621800e+02,0.000000,0.0000,0.0,0.0,29.959805,-82.926659,1.000000
25%,338505.250000,0.000000e+00,2.886912e+04,0.000000e+00,0.000000e+00,3.159909e+04,4.275255e+04,0.000000,0.0000,0.0,0.0,29.962800,-82.923256,1.000000
50%,552289.500000,0.000000e+00,7.617888e+04,0.000000e+00,0.000000e+00,8.817857e+04,8.674617e+04,0.000000,0.0000,0.0,0.0,30.068468,-81.718948,1.000000
75%,771630.750000,7.198650e+04,2.453299e+05,7.198650e+04,7.283700e+04,2.998204e+05,2.576125e+05,0.000000,0.0000,0.0,0.0,30.100489,-81.711804,3.000000
max,995932.000000,1.400904e+06,1.926000e+07,1.400904e+06,1.400904e+06,1.926000e+07,2.061000e+07,14112.000000,35280.0000,0.0,0.0,30.121655,-81.695099,4.000000

In [16]:
my_series.describe()

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [17]:
insurance_data.head(10)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0,0.0,0,0,30.060614,-81.702675,Residential,Wood,1
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0,0.0,0,0,30.063236,-81.707703,Residential,Masonry,3
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0,0.0,0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0,16425.0,0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0,15750.0,0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112,35280.0,0,0,30.100628,-81.703751,Residential,Masonry,1

In [18]:
insurance_data.tail(10)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
40,814637,FL,SUWANNEE COUNTY,4365.0,4365.0,4365.0,4365.0,4365.0,6095.72,0,87.3,0,0,29.962601,-82.926155,NaN,NaN,3
41,737515,FL,SUWANNEE COUNTY,39789.0,39789.0,39789.0,39789.0,39789.0,58106.58,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
42,222653,FL,SUWANNEE COUNTY,24867.0,24867.0,24867.0,24867.0,24867.0,18969.79,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
43,788543,FL,SUWANNEE COUNTY,213876.0,213876.0,213876.0,213876.0,213876.0,261435.18,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
44,691681,FL,SUWANNEE COUNTY,69435.0,69435.0,69435.0,69435.0,69435.0,93674.34,0,1388.7,0,0,29.960735,-82.925420,Residential,Wood,3
45,368807,FL,SUWANNEE COUNTY,14922.0,14922.0,14922.0,14922.0,14922.0,12333.03,0,0.0,0,0,29.960735,-82.925420,Residential,Wood,3
46,174002,FL,SUWANNEE COUNTY,165546.0,165546.0,165546.0,165546.0,165546.0,239134.51,0,0.0,0,0,29.963396,-82.916763,Residential,Wood,1
47,198760,FL,SUWANNEE COUNTY,72837.0,72837.0,72837.0,72837.0,72837.0,86637.86,0,0.0,0,0,29.963396,-82.916763,Residential,Wood,1
48,831395,FL,SUWANNEE COUNTY,72837.0,72837.0,72837.0,72837.0,72837.0,98147.86,0,0.0,0,0,29.963396,-82.916763,Residential,Wood,1
49,305698,FL,SUWANNEE COUNTY,19440.0,19440.0,19440.0,19440.0,19440.0,30658.59,0,388.8,0,0,29.963396,-82.916763,Residential,Wood,1

In [19]:
insurance_data["policyID"].head(10)

0    119736
1    448094
2    206893
3    333743
4    172534
5    785275
6    995932
7    223488
8    433512
9    142071
Name: policyID, dtype: int64

In [20]:
subset_of_insurance_data = insurance_data[["policyID","county"]].head(5) #getting two columns

In [21]:
subset_of_insurance_data # Printing data

   policyID       county
0    119736  CLAY COUNTY
1    448094  CLAY COUNTY
2    206893  CLAY COUNTY
3    333743  CLAY COUNTY
4    172534  CLAY COUNTY

In [22]:
type(subset_of_insurance_data) # This is Data Frame

pandas.core.frame.DataFrame

In [23]:
insurance_data.head(5).isnull() # This will check if the data is null or not, It is showing false because the data is not null

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
insurance_data.isnull().sum() # this will give you the total number of nulls in a column

policyID              0
statecode             0
county                4
eq_site_limit         0
hu_site_limit         0
fl_site_limit         0
fr_site_limit         0
tiv_2011              4
tiv_2012              0
eq_site_deductible    0
hu_site_deductible    0
fl_site_deductible    0
fr_site_deductible    0
point_latitude        4
point_longitude       4
line                  4
construction          4
point_granularity     0
dtype: int64

In [25]:
insurance_data[insurance_data.isnull().any(axis=1)] # this will return the row which contains atleast one null value

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
11,894922,FL,CLAY COUNTY,0.0,24059.09,0.0,0.0,NaN,33952.19,0,0.0,0,0,30.095957,-81.695099,Residential,Wood,1
12,422834,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,NaN,66755.39,0,0.0,0,0,30.100073,-81.739822,Residential,Wood,1
13,582721,FL,CLAY COUNTY,0.0,28869.12,0.0,0.0,NaN,42826.99,0,0.0,0,0,30.092480,-81.725167,Residential,Wood,1
14,842700,FL,CLAY COUNTY,0.0,56135.64,0.0,0.0,NaN,50656.80,0,0.0,0,0,30.101356,-81.726248,Residential,Wood,1
17,456149,FL,CLAY COUNTY,0.0,80192.49,0.0,0.0,80192.49,86421.04,0,0.0,0,0,NaN,NaN,Residential,Wood,1
18,767862,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,73798.50,0,0.0,0,0,NaN,NaN,Residential,Wood,3
19,353022,FL,CLAY COUNTY,0.0,60946.79,0.0,0.0,60946.79,62467.29,0,0.0,0,0,NaN,NaN,Residential,Wood,1
20,367814,FL,CLAY COUNTY,0.0,28869.12,0.0,0.0,28869.12,42727.74,0,0.0,0,0,NaN,NaN,Residential,Wood,1
27,751262,FL,NaN,0.0,42854.77,0.0,0.0,42854.77,63592.88,0,0.0,0,0,30.068468,-81.716240,Residential,Wood,1
28,633663,FL,NaN,0.0,785.58,0.0,0.0,785.58,662.18,0,0.0,0,0,30.068468,-81.716240,Residential,Wood,1
29,105851,FL,NaN,0.0,170361.91,0.0,0.0,170361.91,177176.38,0,0.0,0,0,30.068468,-81.716240,Residential,Wood,1
30,710400,FL,NaN,0.0,1430.89,0.0,0.0,1430.89,1861.41,0,0.0,0,0,30.068468,-81.716240,Residential,Wood,1
37,524433,FL,SUWANNEE COUNTY,218475.0,218475.00,218475.0,218475.0,218475.00,199030.29,0,4369.5,0,0,29.962601,-82.926155,NaN,NaN,3
38,779298,FL,SUWANNEE COUNTY,1400904.0,1400904.00,1400904.0,1400904.0,1400904.00,1772984.10,0,0.0,0,0,29.962601,-82.926155,NaN,NaN,3
39,491831,FL,SUWANNEE COUNTY,4365.0,4365.00,4365.0,4365.0,4365.00,4438.05,0,87.3,0,0,29.962601,-82.926155,NaN,NaN,3
40,814637,FL,SUWANNEE COUNTY,4365.0,4365.00,4365.0,4365.0,4365.00,6095.72,0,87.3,0,0,29.962601,-82.926155,NaN,NaN,3

In [26]:
insurance_data[insurance_data.isnull().all(axis=1)] # this will return the row where all the columns are null

Empty DataFrame
Columns: [policyID, statecode, county, eq_site_limit, hu_site_limit, fl_site_limit, fr_site_limit, tiv_2011, tiv_2012, eq_site_deductible, hu_site_deductible, fl_site_deductible, fr_site_deductible, point_latitude, point_longitude, line, construction, point_granularity]
Index: []

In [27]:
insurance_data_copy = insurance_data.dropna() # This will remove the record  with null value and store in insurance_data_copy

In [28]:
insurance_data_copy.shape

(34, 18)

In [29]:
insurance_data.shape

(50, 18)

In [30]:
insurance_data.dropna(inplace=True) # This will remove the rows with atleast one null value from the insurance_data

In [31]:
insurance_data.shape # The count has been reduced as we have used inplace=True

(34, 18)

In [32]:
insurance_data.head(5).fillna("NA") # This will set the null value to NA

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0,0.0,0,0,30.060614,-81.702675,Residential,Wood,1

In [33]:
insurance_data.head(5).fillna({"eq_site_deductible":-1,"eq_site_limit":5}) # This will set the null value to -1 and 5 based on column names

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0,0.0,0,0,30.060614,-81.702675,Residential,Wood,1

In [34]:
insurance_data[insurance_data["statecode"]=="FL"].head(10) # This will give where statecode is FL

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0,0.0,0,0,30.060614,-81.702675,Residential,Wood,1
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0,0.0,0,0,30.063236,-81.707703,Residential,Masonry,3
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0,0.0,0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0,16425.0,0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0,15750.0,0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112,35280.0,0,0,30.100628,-81.703751,Residential,Masonry,1

In [35]:
insurance_data[(insurance_data["statecode"]=="FL")&(insurance_data["fl_site_limit"]>0)].head(10) # This will give where statecode is FL AND fl_site_limit > 0

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.0,498960.0,498960.0,498960.0,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.3,1322376.3,1322376.3,1322376.3,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.4,190724.4,190724.4,190724.4,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
7,223488,FL,CLAY COUNTY,328500.0,328500.0,328500.0,328500.0,328500.0,348374.25,0,16425.0,0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.0,315000.0,315000.0,315000.0,265821.57,0,15750.0,0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.0,705600.0,705600.0,705600.0,1010842.56,14112,35280.0,0,0,30.100628,-81.703751,Residential,Masonry,1
10,253816,FL,CLAY COUNTY,831498.3,831498.3,831498.3,831498.3,831498.3,1117791.48,0,0.0,0,0,30.102160,-81.719444,Residential,Masonry,1
41,737515,FL,SUWANNEE COUNTY,39789.0,39789.0,39789.0,39789.0,39789.0,58106.58,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
42,222653,FL,SUWANNEE COUNTY,24867.0,24867.0,24867.0,24867.0,24867.0,18969.79,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
43,788543,FL,SUWANNEE COUNTY,213876.0,213876.0,213876.0,213876.0,213876.0,261435.18,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3

In [36]:
insurance_data[(insurance_data["statecode"]=="FL")|(insurance_data["fl_site_limit"]>0)].head(10) # This will give where statecode is FL OR fl_site_limit > 0

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0,0.0,0,0,30.060614,-81.702675,Residential,Wood,1
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0,0.0,0,0,30.063236,-81.707703,Residential,Masonry,3
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0,0.0,0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0,16425.0,0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0,15750.0,0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112,35280.0,0,0,30.100628,-81.703751,Residential,Masonry,1

### loc = index based access
### iloc = position based access

In [37]:
insurance_data.loc[0:10] # This will give data from index 0 to 10(10 is inclusive here)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0,0.0,0,0,30.060614,-81.702675,Residential,Wood,1
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0,0.0,0,0,30.063236,-81.707703,Residential,Masonry,3
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0,0.0,0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0,16425.0,0,0,30.102217,-81.707146,Residential,Wood,1
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0,15750.0,0,0,30.118774,-81.704613,Residential,Wood,1
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112,35280.0,0,0,30.100628,-81.703751,Residential,Masonry,1
10,253816,FL,CLAY COUNTY,831498.3,831498.30,831498.3,831498.3,831498.30,1117791.48,0,0.0,0,0,30.102160,-81.719444,Residential,Masonry,1

In [38]:
insurance_data.loc[0:10,["policyID","tiv_2011"]] # This will give two columns from index 0 to 10

    policyID     tiv_2011
0     119736    498960.00
1     448094   1322376.30
2     206893    190724.40
3     333743     79520.76
4     172534    254281.50
5     785275    515035.62
6     995932  19260000.00
7     223488    328500.00
8     433512    315000.00
9     142071    705600.00
10    253816    831498.30

In [39]:
insurance_data.loc[0:10,"policyID":"tiv_2011"] # This will give all the columns between policyID and tiv_2011 from index 0 to 10

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00
10,253816,FL,CLAY COUNTY,831498.3,831498.30,831498.3,831498.3,831498.30

In [40]:
insurance_data.loc[:,insurance_data.columns!="policyID"] # This will give all the rows without plicyID column

,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
3,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3
4,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0,0.0,0,0,30.060614,-81.702675,Residential,Wood,1
5,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0,0.0,0,0,30.063236,-81.707703,Residential,Masonry,3
6,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0,0.0,0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
7,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0,16425.0,0,0,30.102217,-81.707146,Residential,Wood,1
8,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0,15750.0,0,0,30.118774,-81.704613,Residential,Wood,1
9,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112,35280.0,0,0,30.100628,-81.703751,Residential,Masonry,1
10,FL,CLAY COUNTY,831498.3,831498.30,831498.3,831498.3,831498.30,1117791.48,0,0.0,0,0,30.102160,-81.719444,Residential,Masonry,1
15,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,67905.07,0,0.0,0,0,30.113743,-81.727463,Residential,Wood,1
16,FL,CLAY COUNTY,0.0,48115.94,0.0,0.0,48115.94,66938.90,0,0.0,0,0,30.121655,-81.732391,Residential,Wood,3
21,FL,CLAY COUNTY,0.0,13410000.00,0.0,0.0,13410000.00,11700000.00,0,0.0,0,0,30.091921,-81.711929,Commercial,Reinforced Concrete,3
22,FL,CLAY COUNTY,0.0,1669113.93,0.0,0.0,1669113.93,2099127.76,0,0.0,0,0,30.117352,-81.711884,Residential,Masonry,1
23,FL,CLAY COUNTY,0.0,179562.23,0.0,0.0,179562.23,211372.57,0,0.0,0,0,30.095783,-81.713181,Residential,Wood,3
24,FL,CLAY COUNTY,0.0,177744.16,0.0,0.0,177744.16,157171.16,0,0.0,0,0,30.110518,-81.727478,Residential,Wood,1
25,FL,CLAY COUNTY,0.0,17757.58,0.0,0.0,17757.58,16948.72,0,0.0,0,0,30.102880,-81.705719,Residential,Wood,1
26,FL,CLAY COUNTY,0.0,130129.87,0.0,0.0,130129.87,101758.43,0,0.0,0,0,30.068468,-81.716240,Residential,Wood,1
31,FL,CLAY COUNTY,0.0,129913.27,0.0,0.0,129913.27,101692.86,0,0.0,0,0,30.079785,-81.706865,Residential,Wood,4
32,FL,CLAY COUNTY,0.0,366285.62,0.0,0.0,366285.62,507164.19,0,0.0,0,0,30.080120,-81.718452,Residential,Masonry,1
33,FL,CLAY COUNTY,0.0,22512.61,0.0,0.0,22512.61,28637.17,0,0.0,0,0,30.080120,-81.718452,Residential,Wood,1
34,FL,SUWANNEE COUNTY,0.0,9246.60,0.0,9246.6,9246.60,10880.22,0,0.0,0,0,29.959805,-82.926659,Residential,Wood,3
35,FL,SUWANNEE COUNTY,0.0,96164.64,0.0,0.0,96164.64,69357.78,0,0.0,0,0,29.959805,-82.926659,Residential,Wood,3
36,FL,SUWANNEE COUNTY,0.0,11095.92,0.0,0.0,11095.92,12737.89,0,0.0,0,0,29.959805,-82.926659,Residential,Wood,3
41,FL,SUWANNEE COUNTY,39789.0,39789.00,39789.0,39789.0,39789.00,58106.58,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
42,FL,SUWANNEE COUNTY,24867.0,24867.00,24867.0,24867.0,24867.00,18969.79,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
43,FL,SUWANNEE COUNTY,213876.0,213876.00,213876.0,213876.0,213876.00,261435.18,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
44,FL,SUWANNEE COUNTY,69435.0,69435.00,69435.0,69435.0,69435.00,93674.34,0,1388.7,0,0,29.960735,-82.925420,Residential,Wood,3
45,FL,SUWANNEE COUNTY,14922.0,14922.00,14922.0,14922.0,14922.00,12333.03,0,0.0,0,0,29.960735,-82.925420,Residential,Wood,3
46,FL,SUWANNEE COUNTY,165546.0,165546.00,165546.0,165546.0,165546.00,239134.51,0,0.0,0,0,29.963396,-82.916763,Residential,Wood,1
47,FL,SUWANNEE COUNTY,72837.0,72837.00,72837.0,72837.0,72837.00,86637.86,0,0.0,0,0,29.963396,-82.916763,Residential,Wood,1
48,FL,SUWANNEE COUNTY,72837.0,72837.00,72837.0,72837.0,72837.00,98147.86,0,0.0,0,0,29.963396,-82.916763,Residential,Wood,1
49,FL,SUWANNEE COUNTY,19440.0,19440.00,19440.0,19440.0,19440.00,30658.59,0,388.8,0,0,29.963396,-82.916763,Residential,Wood,1

In [41]:
insurance_data.loc[5] # This will give the data of 5th index

policyID                   785275
statecode                      FL
county                CLAY COUNTY
eq_site_limit                   0
hu_site_limit              515036
fl_site_limit                   0
fr_site_limit                   0
tiv_2011                   515036
tiv_2012                   884419
eq_site_deductible              0
hu_site_deductible              0
fl_site_deductible              0
fr_site_deductible              0
point_latitude            30.0632
point_longitude          -81.7077
line                  Residential
construction              Masonry
point_granularity               3
Name: 5, dtype: object

In [43]:
insurance_data.columns.to_list() # This will convert the column into list

['policyID',
 'statecode',
 'county',
 'eq_site_limit',
 'hu_site_limit',
 'fl_site_limit',
 'fr_site_limit',
 'tiv_2011',
 'tiv_2012',
 'eq_site_deductible',
 'hu_site_deductible',
 'fl_site_deductible',
 'fr_site_deductible',
 'point_latitude',
 'point_longitude',
 'line',
 'construction',
 'point_granularity']

In [46]:
insurance_data["county"].value_counts() # This will give you the count of value in a columns

CLAY COUNTY        22
SUWANNEE COUNTY    12
Name: county, dtype: int64

In [52]:
insurance_data.groupby(["county"])["tiv_2012"].max() # This will give max value by county

county
CLAY COUNTY        20610000.00
SUWANNEE COUNTY      261435.18
Name: tiv_2012, dtype: float64

In [54]:
insurance_data.groupby(["county"])["tiv_2012"].min() # This will give min value by county

county
CLAY COUNTY        16948.72
SUWANNEE COUNTY    10880.22
Name: tiv_2012, dtype: float64

In [55]:
insurance_data.groupby(["county"]).agg({"tiv_2012":[min, max, sum]}) # Better way of using min max and sum together

                 tiv_2012
                      min          max          sum
county
CLAY COUNTY      16948.72  20610000.00  42051754.08
SUWANNEE COUNTY  10880.22    261435.18    992073.63

In [57]:
insurance_data.groupby(["county"]).agg({"tiv_2012":[min, max, sum], "tiv_2011":[min, max, sum]}) # Min, Max and Sum With multiple column

                 tiv_2012                            tiv_2011              \
                      min          max          sum       min         max
county
CLAY COUNTY      16948.72  20610000.00  42051754.08  17757.58  19260000.0
SUWANNEE COUNTY  10880.22    261435.18    992073.63   9246.60    213876.0


                         sum
county
CLAY COUNTY      40500748.03
SUWANNEE COUNTY    810056.16

In [63]:
insurance_data.groupby(["county","line"]).agg({"tiv_2012":[min, max, sum]})  # This will group by based on county and line

                                tiv_2012
                                     min          max          sum
county          line
CLAY COUNTY     Commercial   11700000.00  20610000.00  32310000.00
                Residential     16948.72   2099127.76   9741754.08
SUWANNEE COUNTY Residential     10880.22    261435.18    992073.63

In [76]:
insurance_data.drop("hu_site_limit", axis=1) # This will drop a column

,statecode,county,eq_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
policyID,,,,,,,,,,,,,,,,
119736,FL,CLAY COUNTY,498960.0,498960.0,498960.0,498960.00,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
448094,FL,CLAY COUNTY,1322376.3,1322376.3,1322376.3,1322376.30,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
206893,FL,CLAY COUNTY,190724.4,190724.4,190724.4,190724.40,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1
333743,FL,CLAY COUNTY,0.0,0.0,0.0,79520.76,86854.48,0,0.0,0,0,30.063236,-81.707703,Residential,Wood,3
172534,FL,CLAY COUNTY,0.0,0.0,254281.5,254281.50,246144.49,0,0.0,0,0,30.060614,-81.702675,Residential,Wood,1
785275,FL,CLAY COUNTY,0.0,0.0,0.0,515035.62,884419.17,0,0.0,0,0,30.063236,-81.707703,Residential,Masonry,3
995932,FL,CLAY COUNTY,0.0,0.0,0.0,19260000.00,20610000.00,0,0.0,0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
223488,FL,CLAY COUNTY,328500.0,328500.0,328500.0,328500.00,348374.25,0,16425.0,0,0,30.102217,-81.707146,Residential,Wood,1
433512,FL,CLAY COUNTY,315000.0,315000.0,315000.0,315000.00,265821.57,0,15750.0,0,0,30.118774,-81.704613,Residential,Wood,1
142071,FL,CLAY COUNTY,705600.0,705600.0,705600.0,705600.00,1010842.56,14112,35280.0,0,0,30.100628,-81.703751,Residential,Masonry,1
253816,FL,CLAY COUNTY,831498.3,831498.3,831498.3,831498.30,1117791.48,0,0.0,0,0,30.102160,-81.719444,Residential,Masonry,1
874333,FL,CLAY COUNTY,0.0,0.0,0.0,48115.94,67905.07,0,0.0,0,0,30.113743,-81.727463,Residential,Wood,1
580146,FL,CLAY COUNTY,0.0,0.0,0.0,48115.94,66938.90,0,0.0,0,0,30.121655,-81.732391,Residential,Wood,3
671392,FL,CLAY COUNTY,0.0,0.0,0.0,13410000.00,11700000.00,0,0.0,0,0,30.091921,-81.711929,Commercial,Reinforced Concrete,3
772887,FL,CLAY COUNTY,0.0,0.0,0.0,1669113.93,2099127.76,0,0.0,0,0,30.117352,-81.711884,Residential,Masonry,1
983122,FL,CLAY COUNTY,0.0,0.0,0.0,179562.23,211372.57,0,0.0,0,0,30.095783,-81.713181,Residential,Wood,3
934215,FL,CLAY COUNTY,0.0,0.0,0.0,177744.16,157171.16,0,0.0,0,0,30.110518,-81.727478,Residential,Wood,1
385951,FL,CLAY COUNTY,0.0,0.0,0.0,17757.58,16948.72,0,0.0,0,0,30.102880,-81.705719,Residential,Wood,1
716332,FL,CLAY COUNTY,0.0,0.0,0.0,130129.87,101758.43,0,0.0,0,0,30.068468,-81.716240,Residential,Wood,1
703001,FL,CLAY COUNTY,0.0,0.0,0.0,129913.27,101692.86,0,0.0,0,0,30.079785,-81.706865,Residential,Wood,4
352792,FL,CLAY COUNTY,0.0,0.0,0.0,366285.62,507164.19,0,0.0,0,0,30.080120,-81.718452,Residential,Masonry,1
717603,FL,CLAY COUNTY,0.0,0.0,0.0,22512.61,28637.17,0,0.0,0,0,30.080120,-81.718452,Residential,Wood,1
937659,FL,SUWANNEE COUNTY,0.0,0.0,9246.6,9246.60,10880.22,0,0.0,0,0,29.959805,-82.926659,Residential,Wood,3
294022,FL,SUWANNEE COUNTY,0.0,0.0,0.0,96164.64,69357.78,0,0.0,0,0,29.959805,-82.926659,Residential,Wood,3
410500,FL,SUWANNEE COUNTY,0.0,0.0,0.0,11095.92,12737.89,0,0.0,0,0,29.959805,-82.926659,Residential,Wood,3
737515,FL,SUWANNEE COUNTY,39789.0,39789.0,39789.0,39789.00,58106.58,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
222653,FL,SUWANNEE COUNTY,24867.0,24867.0,24867.0,24867.00,18969.79,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
788543,FL,SUWANNEE COUNTY,213876.0,213876.0,213876.0,213876.00,261435.18,0,0.0,0,0,29.962601,-82.926155,Residential,Wood,3
691681,FL,SUWANNEE COUNTY,69435.0,69435.0,69435.0,69435.00,93674.34,0,1388.7,0,0,29.960735,-82.925420,Residential,Wood,3
368807,FL,SUWANNEE COUNTY,14922.0,14922.0,14922.0,14922.00,12333.03,0,0.0,0,0,29.960735,-82.925420,Residential,Wood,3
174002,FL,SUWANNEE COUNTY,165546.0,165546.0,165546.0,165546.00,239134.51,0,0.0,0,0,29.963396,-82.916763,Residential,Wood,1
198760,FL,SUWANNEE COUNTY,72837.0,72837.0,72837.0,72837.00,86637.86,0,0.0,0,0,29.963396,-82.916763,Residential,Wood,1
831395,FL,SUWANNEE COUNTY,72837.0,72837.0,72837.0,72837.00,98147.86,0,0.0,0,0,29.963396,-82.916763,Residential,Wood,1
305698,FL,SUWANNEE COUNTY,19440.0,19440.0,19440.0,19440.00,30658.59,0,388.8,0,0,29.963396,-82.916763,Residential,Wood,1

In [75]:
insurance_data.drop("hu_site_limit", axis=1) # This will drop a column

,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
policyID,,,,,,,,,,,,,,,,,
119736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
934215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
703001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
937659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
737515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
insurance_data.reset_index(inplace=True)

In [94]:
insurance_data.drop(insurance_data["policyID"].isnull().index)

Empty DataFrame
Columns: [policyID, statecode, county, eq_site_limit, hu_site_limit, fl_site_limit, fr_site_limit, tiv_2011, tiv_2012, eq_site_deductible, hu_site_deductible, fl_site_deductible, fr_site_deductible, point_latitude, point_longitude, line, construction, point_granularity]
Index: []

In [128]:
emp_data = pd.DataFrame([[27, "Tarun"], [23, "Rohit"], [15, "Vishal"]], columns=["id", "name"])

In [129]:
emp_data

   id    name
0  27   Tarun
1  23   Rohit
2  15  Vishal

In [97]:
dept_data = pd.DataFrame([[27, "IT"], [23, "SALES"], [15, "MARKETING"]], columns=["id", "dept"])

In [98]:
dept_data

   id       dept
0  27         IT
1  23      SALES
2  15  MARKETING

In [107]:
merged_data = pd.merge(emp_data, dept_data,on="id", how="inner") # Joining two datatables based on the column id with inner join

In [108]:
merged_data

   id    name       dept
0  27   Tarun         IT
1  23   Rohit      SALES
2  15  Vishal  MARKETING

In [110]:
pd.concat([merged_data, merged_data], axis=0) # This will concat the data of two tables with same tuples(column names and number of columns)

   id    name       dept
0  27   Tarun         IT
1  23   Rohit      SALES
2  15  Vishal  MARKETING
0  27   Tarun         IT
1  23   Rohit      SALES
2  15  Vishal  MARKETING

In [111]:
pd.concat([merged_data, merged_data], axis=1) # This will merge the data of two tables with regardless of columns structure

   id    name       dept  id    name       dept
0  27   Tarun         IT  27   Tarun         IT
1  23   Rohit      SALES  23   Rohit      SALES
2  15  Vishal  MARKETING  15  Vishal  MARKETING

In [127]:
emp_data

   id    name       City       city country
0  27   Tarun     Raipur     Raipur   India
1  23   Rohit      Delhi      Delhi   India
2  15  Vishal  Bengaluru  Bengaluru   India

In [130]:
emp_data["city"] = ["Raipur", "Delhi", "Bengaluru"] # This will add a new column in the table and adds its value

In [131]:
emp_data

   id    name       city
0  27   Tarun     Raipur
1  23   Rohit      Delhi
2  15  Vishal  Bengaluru

In [132]:
emp_data["country"] = "India" # This will assign the same value to all rows

In [133]:
emp_data

   id    name       city country
0  27   Tarun     Raipur   India
1  23   Rohit      Delhi   India
2  15  Vishal  Bengaluru   India

In [137]:
city_state = {"Raipur":"CG", "Delhi":"Delhi", "Bengaluru":"KA"}

In [138]:
emp_data["state"] = emp_data["city"].map(city_state)

In [139]:
emp_data

   id    name       city country  state
0  27   Tarun     Raipur   India     CG
1  23   Rohit      Delhi   India  Delhi
2  15  Vishal  Bengaluru   India     KA

In [143]:
age_bins= [0, 10, 20, 30, 40]

In [145]:
age_range_labels = ["0 - 10", "10 - 20", "20 - 30", "30 - 40"]

In [142]:
age_range

['0 - 10', '10 - 20', '20 - 30', '30 - 40']

In [147]:
emp_data["age_group"] = pd.cut(emp_data["id"],bins=age_bins,labels=age_range_labels)

In [148]:
emp_data

   id    name       city country  state age_group
0  27   Tarun     Raipur   India     CG   20 - 30
1  23   Rohit      Delhi   India  Delhi   20 - 30
2  15  Vishal  Bengaluru   India     KA   10 - 20

In [157]:
date_str = "27/11/2019"

In [162]:
date1 = pd.to_datetime(date_str)

In [165]:
date1

Timestamp('2019-11-27 00:00:00')

In [168]:
date1.year # with Seriess we need to use dt.year

2019

In [170]:
date1.month # with Seriess we need to use dt.month

11

In [171]:
date1.day # with Seriess we need to use dt.day

27

In [172]:
help(date1)

Help on Timestamp in module pandas._libs.tslibs.timestamps object:

class Timestamp(pandas._libs.tslibs.c_timestamp._Timestamp)
 |  Timestamp(ts_input=<object object at 0x0000020C62006D90>, freq=None, tz=None, unit=None, year=None, month=None, day=None, hour=None, minute=None, second=None, microsecond=None, nanosecond=None, tzinfo=None)
 |
 |  Pandas replacement for python datetime.datetime object.
 |
 |  Timestamp is the pandas equivalent of python's Datetime
 |  and is interchangeable with it in most cases. It's the type used
 |  for the entries that make up a DatetimeIndex, and other timeseries
 |  oriented data structures in pandas.
 |
 |  Parameters
 |  ----------
 |  ts_input : datetime-like, str, int, float
 |      Value to be converted to Timestamp.
 |  freq : str, DateOffset
 |      Offset which Timestamp will have.
 |  tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |      Time zone for time which Timestamp will have.
 |  unit : str
 |      Unit used for conversion if ts_input is of type int or float. The
 |      valid values are 'D', 'h', 'm', 's', 'ms', 'us', and 'ns'. For
 |      example, 's' means seconds and 'ms' means milliseconds.
 |  year, month, day : int
 |      .. versionadded:: 0.19.0
 |  hour, minute, second, microsecond : int, optional, default 0
 |      .. versionadded:: 0.19.0
 |  nanosecond : int, optional, default 0
 |      .. versionadded:: 0.23.0
 |  tzinfo : datetime.tzinfo, optional, default None
 |      .. versionadded:: 0.19.0
 |
 |  Notes
 |  -----
 |  There are essentially three calling conventions for the constructor. The
 |  primary form accepts four parameters. They can be passed by position or
 |  keyword.
 |
 |  The other two forms mimic the parameters from ``datetime.datetime``. They
 |  can be passed by either position or keyword, but not both mixed together.
 |
 |  Examples
 |  --------
 |  Using the primary calling convention:
 |
 |  This converts a datetime-like string
 |
 |  >>> pd.Timestamp('2017-01-01T12')
 |  Timestamp('2017-01-01 12:00:00')
 |
 |  This converts a float representing a Unix epoch in units of seconds
 |
 |  >>> pd.Timestamp(1513393355.5, unit='s')
 |  Timestamp('2017-12-16 03:02:35.500000')
 |
 |  This converts an int representing a Unix-epoch in units of seconds
 |  and for a particular timezone
 |
 |  >>> pd.Timestamp(1513393355, unit='s', tz='US/Pacific')
 |  Timestamp('2017-12-15 19:02:35-0800', tz='US/Pacific')
 |
 |  Using the other two forms that mimic the API for ``datetime.datetime``:
 |
 |  >>> pd.Timestamp(2017, 1, 1, 12)
 |  Timestamp('2017-01-01 12:00:00')
 |
 |  >>> pd.Timestamp(year=2017, month=1, day=1, hour=12)
 |  Timestamp('2017-01-01 12:00:00')
 |
 |  Method resolution order:
 |      Timestamp
 |      pandas._libs.tslibs.c_timestamp._Timestamp
 |      datetime.datetime
 |      datetime.date
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __new__(cls, ts_input=<object object at 0x0000020C62006D90>, freq=None, tz=None, unit=None, year=None, month=None, day=None, hour=None, minute=None, second=None, microsecond=None, nanosecond=None, tzinfo=None)
 |
 |  __radd__(self, other)
 |
 |  __reduce__(self)
 |
 |  __setstate__(self, state)
 |
 |  astimezone = tz_convert(self, tz)
 |
 |  ceil(self, freq, ambiguous='raise', nonexistent='raise')
 |      return a new Timestamp ceiled to this resolution
 |
 |      Parameters
 |      ----------
 |      freq : a freq string indicating the ceiling resolution
 |      ambiguous : bool, 'NaT', default 'raise'
 |          - bool contains flags to determine if time is dst or not (note
 |            that this flag is only applicable for ambiguous fall dst dates)
 |          - 'NaT' will return NaT for an ambiguous time
 |          - 'raise' will raise an AmbiguousTimeError for an ambiguous time
 |
 |          .. versionadded:: 0.24.0
 |      nonexistent : 'shift_forward', 'shift_backward, 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          - 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time
 |          - 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time
 |          - 'NaT' will return NaT where there are nonexistent times
 |          - timedelta objects will shift nonexistent times by the timedelta
 |          - 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times
 |
 |          .. versionadded:: 0.24.0
 |
 |      Raises
 |      ------
 |      ValueError if the freq cannot be converted
 |
 |  day_name(self, locale=None)
 |      Return the day name of the Timestamp with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : string, default None (English locale)
 |          locale determining the language in which to return the day name
 |
 |      Returns
 |      -------
 |      day_name : string
 |
 |      .. versionadded:: 0.23.0
 |
 |  floor(self, freq, ambiguous='raise', nonexistent='raise')
 |      return a new Timestamp floored to this resolution
 |
 |      Parameters
 |      ----------
 |      freq : a freq string indicating the flooring resolution
 |      ambiguous : bool, 'NaT', default 'raise'
 |          - bool contains flags to determine if time is dst or not (note
 |            that this flag is only applicable for ambiguous fall dst dates)
 |          - 'NaT' will return NaT for an ambiguous time
 |          - 'raise' will raise an AmbiguousTimeError for an ambiguous time
 |
 |          .. versionadded:: 0.24.0
 |      nonexistent : 'shift_forward', 'shift_backward, 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          - 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time
 |          - 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time
 |          - 'NaT' will return NaT where there are nonexistent times
 |          - timedelta objects will shift nonexistent times by the timedelta
 |          - 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times
 |
 |          .. versionadded:: 0.24.0
 |
 |      Raises
 |      ------
 |      ValueError if the freq cannot be converted
 |
 |  isoformat(self, sep='T')
 |
 |  month_name(self, locale=None)
 |      Return the month name of the Timestamp with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : string, default None (English locale)
 |          locale determining the language in which to return the month name
 |
 |      Returns
 |      -------
 |      month_name : string
 |
 |      .. versionadded:: 0.23.0
 |
 |  normalize(self)
 |      Normalize Timestamp to midnight, preserving
 |      tz information.
 |
 |  replace(self, year=None, month=None, day=None, hour=None, minute=None, second=None, microsecond=None, nanosecond=None, tzinfo=<class 'object'>, fold=0)
 |      implements datetime.replace, handles nanoseconds
 |
 |      Parameters
 |      ----------
 |      year : int, optional
 |      month : int, optional
 |      day : int, optional
 |      hour : int, optional
 |      minute : int, optional
 |      second : int, optional
 |      microsecond : int, optional
 |      nanosecond : int, optional
 |      tzinfo : tz-convertible, optional
 |      fold : int, optional, default is 0
 |
 |      Returns
 |      -------
 |      Timestamp with fields replaced
 |
 |  round(self, freq, ambiguous='raise', nonexistent='raise')
 |      Round the Timestamp to the specified resolution
 |
 |      Parameters
 |      ----------
 |      freq : a freq string indicating the rounding resolution
 |      ambiguous : bool, 'NaT', default 'raise'
 |          - bool contains flags to determine if time is dst or not (note
 |            that this flag is only applicable for ambiguous fall dst dates)
 |          - 'NaT' will return NaT for an ambiguous time
 |          - 'raise' will raise an AmbiguousTimeError for an ambiguous time
 |
 |          .. versionadded:: 0.24.0
 |      nonexistent : 'shift_forward', 'shift_backward, 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          - 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time
 |          - 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time
 |          - 'NaT' will return NaT where there are nonexistent times
 |          - timedelta objects will shift nonexistent times by the timedelta
 |          - 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times
 |
 |          .. versionadded:: 0.24.0
 |
 |      Returns
 |      -------
 |      a new Timestamp rounded to the given resolution of `freq`
 |
 |      Raises
 |      ------
 |      ValueError if the freq cannot be converted
 |
 |  to_julian_date(self)
 |      Convert TimeStamp to a Julian Date.
 |      0 Julian date is noon January 1, 4713 BC.
 |
 |  to_period(self, freq=None)
 |      Return an period of which this timestamp is an observation.
 |
 |  tz_convert(self, tz)
 |      Convert tz-aware Timestamp to another time zone.
 |
 |      Parameters
 |      ----------
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for time which Timestamp will be converted to.
 |          None will remove timezone holding UTC time.
 |
 |      Returns
 |      -------
 |      converted : Timestamp
 |
 |      Raises
 |      ------
 |      TypeError
 |          If Timestamp is tz-naive.
 |
 |  tz_localize(self, tz, ambiguous='raise', nonexistent='raise', errors=None)
 |      Convert naive Timestamp to local time zone, or remove
 |      timezone from tz-aware Timestamp.
 |
 |      Parameters
 |      ----------
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for time which Timestamp will be converted to.
 |          None will remove timezone holding local time.
 |
 |      ambiguous : bool, 'NaT', default 'raise'
 |          When clocks moved backward due to DST, ambiguous times may arise.
 |          For example in Central European Time (UTC+01), when going from
 |          03:00 DST to 02:00 non-DST, 02:30:00 local time occurs both at
 |          00:30:00 UTC and at 01:30:00 UTC. In such a situation, the
 |          `ambiguous` parameter dictates how ambiguous times should be
 |          handled.
 |
 |          - bool contains flags to determine if time is dst or not (note
 |            that this flag is only applicable for ambiguous fall dst dates)
 |          - 'NaT' will return NaT for an ambiguous time
 |          - 'raise' will raise an AmbiguousTimeError for an ambiguous time
 |
 |      nonexistent : 'shift_forward', 'shift_backward, 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          - 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time
 |          - 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time
 |          - 'NaT' will return NaT where there are nonexistent times
 |          - timedelta objects will shift nonexistent times by the timedelta
 |          - 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times
 |
 |          .. versionadded:: 0.24.0
 |
 |      errors : 'raise', 'coerce', default None
 |          - 'raise' will raise a NonExistentTimeError if a timestamp is not
 |             valid in the specified timezone (e.g. due to a transition from
 |             or to DST time). Use ``nonexistent='raise'`` instead.
 |          - 'coerce' will return NaT if the timestamp can not be converted
 |            into the specified timezone. Use ``nonexistent='NaT'`` instead.
 |
 |            .. deprecated:: 0.24.0
 |
 |      Returns
 |      -------
 |      localized : Timestamp
 |
 |      Raises
 |      ------
 |      TypeError
 |          If the Timestamp is tz-aware and tz is not None.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  combine(date, time) from builtins.type
 |      Timestamp.combine(date, time)
 |
 |      date, time -> datetime with same date and time fields
 |
 |  fromordinal(ordinal, freq=None, tz=None) from builtins.type
 |      Timestamp.fromordinal(ordinal, freq=None, tz=None)
 |
 |      passed an ordinal, translate and convert to a ts
 |      note: by definition there cannot be any tz info on the ordinal itself
 |
 |      Parameters
 |      ----------
 |      ordinal : int
 |          date corresponding to a proleptic Gregorian ordinal
 |      freq : str, DateOffset
 |          Offset which Timestamp will have
 |      tz : str, pytz.timezone, dateutil.tz.tzfile or None
 |          Time zone for time which Timestamp will have.
 |
 |  fromtimestamp(ts) from builtins.type
 |      Timestamp.fromtimestamp(ts)
 |
 |      timestamp[, tz] -> tz's local time from POSIX timestamp.
 |
 |  now(tz=None) from builtins.type
 |      Timestamp.now(tz=None)
 |
 |      Return new Timestamp object representing current time local to
 |      tz.
 |
 |      Parameters
 |      ----------
 |      tz : str or timezone object, default None
 |          Timezone to localize to
 |
 |  strptime(date_string, format) from builtins.type
 |      Timestamp.strptime(string, format)
 |
 |      Function is not implemented. Use pd.to_datetime().
 |
 |  today(tz=None) from builtins.type
 |      Timestamp.today(cls, tz=None)
 |
 |      Return the current time in the local timezone.  This differs
 |      from datetime.today() in that it can be localized to a
 |      passed timezone.
 |
 |      Parameters
 |      ----------
 |      tz : str or timezone object, default None
 |          Timezone to localize to
 |
 |  utcfromtimestamp(ts) from builtins.type
 |      Timestamp.utcfromtimestamp(ts)
 |
 |      Construct a naive UTC datetime from a POSIX timestamp.
 |
 |  utcnow() from builtins.type
 |      Timestamp.utcnow()
 |
 |      Return a new Timestamp representing UTC day and time.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  dayofweek
 |      Return day of whe week.
 |
 |  dayofyear
 |      Return the day of the year.
 |
 |  days_in_month
 |      Return the number of days in the month.
 |
 |  daysinmonth
 |      Return the number of days in the month.
 |
 |  freqstr
 |      Return the total number of days in the month.
 |
 |  is_leap_year
 |      Return True if year is a leap year.
 |
 |  is_month_end
 |      Return True if date is last day of month.
 |
 |  is_month_start
 |      Return True if date is first day of month.
 |
 |  is_quarter_end
 |      Return True if date is last day of the quarter.
 |
 |  is_quarter_start
 |      Return True if date is first day of the quarter.
 |
 |  is_year_end
 |      Return True if date is last day of the year.
 |
 |  is_year_start
 |      Return True if date is first day of the year.
 |
 |  quarter
 |      Return the quarter of the year.
 |
 |  resolution
 |      Return resolution describing the smallest difference between two
 |      times that can be represented by Timestamp object_state
 |
 |  tz
 |      Alias for tzinfo
 |
 |  week
 |      Return the week number of the year.
 |
 |  weekday_name
 |      .. deprecated:: 0.23.0
 |          Use ``Timestamp.day_name()`` instead
 |
 |  weekofyear
 |      Return the week number of the year.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = Timestamp('2262-04-11 23:47:16.854775807')
 |
 |  min = Timestamp('1677-09-21 00:12:43.145225')
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas._libs.tslibs.c_timestamp._Timestamp:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce_ex__(...)
 |      __reduce_ex__(proto) -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  timestamp(...)
 |      Return POSIX timestamp as float.
 |
 |  to_datetime64(...)
 |      Return a numpy.datetime64 object with 'ns' precision.
 |
 |  to_numpy(...)
 |      Convert the Timestamp to a NumPy datetime64.
 |
 |      .. versionadded:: 0.25.0
 |
 |      This is an alias method for `Timestamp.to_datetime64()`. The dtype and
 |      copy parameters are available here only for compatibility. Their values
 |      will not affect the return value.
 |
 |      Returns
 |      -------
 |      numpy.datetime64
 |
 |      See Also
 |      --------
 |      DatetimeIndex.to_numpy : Similar method for DatetimeIndex.
 |
 |  to_pydatetime(...)
 |      Convert a Timestamp object to a native Python datetime object.
 |
 |      If warn=True, issue a warning if nanoseconds is nonzero.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas._libs.tslibs.c_timestamp._Timestamp:
 |
 |  asm8
 |      Return numpy datetime64 format in nanoseconds.
 |
 |  freq
 |
 |  nanosecond
 |
 |  value
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from pandas._libs.tslibs.c_timestamp._Timestamp:
 |
 |  __array_priority__ = 100
 |
 |  __pyx_vtable__ = <capsule object NULL>
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from datetime.datetime:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  ctime(...)
 |      Return ctime() style string.
 |
 |  date(...)
 |      Return date object with same year, month and day.
 |
 |  dst(...)
 |      Return self.tzinfo.dst(self).
 |
 |  time(...)
 |      Return time object with same time but with tzinfo=None.
 |
 |  timetuple(...)
 |      Return time tuple, compatible with time.localtime().
 |
 |  timetz(...)
 |      Return time object with same time and tzinfo.
 |
 |  tzname(...)
 |      Return self.tzinfo.tzname(self).
 |
 |  utcoffset(...)
 |      Return self.tzinfo.utcoffset(self).
 |
 |  utctimetuple(...)
 |      Return UTC time tuple, compatible with time.localtime().
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from datetime.datetime:
 |
 |  fromisoformat(...) from builtins.type
 |      string -> datetime from datetime.isoformat() output
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from datetime.datetime:
 |
 |  fold
 |
 |  hour
 |
 |  microsecond
 |
 |  minute
 |
 |  second
 |
 |  tzinfo
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from datetime.date:
 |
 |  __format__(...)
 |      Formats self with strftime.
 |
 |  isocalendar(...)
 |      Return a 3-tuple containing ISO year, week number, and weekday.
 |

In [174]:
date1.day_name()

'Wednesday'

In [178]:
type(date1)

pandas._libs.tslibs.timestamps.Timestamp